@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --dark-color: #0d5e9b;
  --light-color: #1ec0ff;
  --white-color: #ffffff;
  --gray-color: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  /* justify-content: center; */
}

@media screen and (min-width: 1880px) {
  .container {
    width: 68%;
  }
}

@media screen and (min-width: 1880px) {
  .container {
    width: 68%;
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 19px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 11px;
  }

  p {
    font-size: 10px;
    margin-top: 6px;
  }
}

/* NAVBAR CSS */
.sticky-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 50;
  z-index: 100;
  position: relative;
}

.navbar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  align-items: center;
}

.site-logo {
  width: 35%;
}

.logo {
  width: 80px;
  height: auto;
  cursor: pointer;
}

.navbar-wrapper {
  width: 70%;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
}

.navbar-li {
  list-style: none;
}

.navbar-li button {
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.navbar-li button:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* BANNER CSS */
.banner-wrapper {
  display: flex;
  align-items: center;
}

.banner-left h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 2rem;
  font-weight: 800;
}

.banner-left p {
  width: 80%;
}

/* DATA SECTION CSS */

.data .container {
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.data-wrapper {
  display: flex;
  align-items: center;
}

.side-bar-data {
  margin-right: 4rem;
}

.data-bottom-square {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -2rem;
}

.data-content-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(30, 192, 255, 0.05);
  border-radius: 10px;
}

.data-content-icon {
  margin-right: 3rem;
  padding: 0.2rem;
  border-radius: 50%;
  border: 3px solid rgba(30, 192, 255, 0.3);
}

.data-content-icon img {
  margin: 15px;
}

.data-content-description h3 {
  margin-bottom: 0.6rem;
}

/* SIGNAL GENERATION CSS */
.signal {
  background: linear-gradient(104.56deg, #0d5e9b 4.04%, #1ec0ff 96.06%);
  width: 100%;
}

/* .signal .container {
  padding: 4rem 0rem;
} */

.signal-title h2 {
  color: var(--white-color);
}

.signals-divider {
  margin-top: 2rem;
  border-top: 3px solid var(--white-color);
}

.signal-main {
  padding-top: 0rem;
  padding-bottom: 4rem;
}

.signals-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.signals-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.signals-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.wiring-des {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wiring-des h3 {
  color: var(--white-color);
  margin: 0.8rem 0;
}

.wiring-des p {
  color: var(--white-color);
  text-align: center;
}

.backtest .container {
  flex-direction: column;
}

.backtest-wrapper {
  display: flex;
  align-items: center;
}

.sub-backtest-content {
  display: flex;
  padding-bottom: 0.8rem;
}

.backtest-content-item {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  padding: 2rem;
  background-color: rgba(30, 192, 255, 0.05);
  border-radius: 10px;
  width: 65%;
}

.backtest-content-description h3 {
  margin-bottom: 0.6rem;
}

.backtest-content-icon {
  margin-right: 2rem;
}

.ledger-table {
  width: 100%;
  margin-bottom: 3rem;
}

.ledger-table-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--dark-color);
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
td {
  padding: 1rem 2rem;
  background-color: rgba(30, 192, 255, 0.05);
  border: 0.5pt solid rgba(43, 43, 43, 0.2);
  border-right: none;
  border-top: none;
  width: 100%;
}

tr {
  display: flex;
  justify-content: center;
  border-bottom: none;
  align-items: center;
  border-right: 0.5pt solid rgba(43, 43, 43, 0.2);
}

/* optimization CSS */
.optimization {
  background: linear-gradient(104.56deg, #0d5e9b 4.04%, #1ec0ff 96.06%);
  width: 100%;
}

.optimization .container {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opt-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opt-text h2 {
  color: var(--white-color);
  margin-bottom: 1.8rem;
}

.opt-text p {
  color: var(--white-color);
  text-align: center;
  line-height: 22px;
  width: 60%;
}

/* PORTFOLIO CSS */
.portfolio-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.portfolio-text h2 {
  text-align: center;
  width: 50%;
}

.portfolio-text p {
  width: 50%;
}

.portfolio {
  background-blend-mode: overlay;
  background-image: linear-gradient(104.56deg, #0d5e9b 4.04%, #1ec0ff 96.06%),
    url(/src/assests/port-bg.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
}

/* execution css */
.execution .container {
  padding: 4rem 0;
  flex-direction: column;
  /* margin: 0 0 0 2rem; */
}

.execution-wrapper {
  display: flex;
  align-items: center;
}

.execution-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.execution-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.execution-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.exe-feature-outter {
  padding: 1rem 1rem 0rem 0rem;
  background-color: var(--light-color);
  border-radius: 14px;
  margin-left: 1rem;
}

.exe-feature-outter img {
  margin-left: -3rem;
}

.exe-content-top-items h3 {
  margin: 0.6rem 0 0.6rem 0;
}

.exe-content-top-items p {
  width: 60%;
}

.execution-content-bottom-left {
  height: 100%;
}

.execution-content-bottom-left h2 {
  width: 80%;
  line-height: 44px;
  margin-bottom: 1.4rem;
}

.execution-content-bottom-left p {
  width: 80%;
}

.exe-figure-shape {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.exe-figure-shape img {
  transform: translate(-60px, 100px);
}

.execution-content-bottom-right {
  width: 85%;
}

/* FOOTER CSS */
.footer {
  background-color: var(--dark-color);
  width: 100%;
  height: 100%;
}

.footer .container {
  padding: 4rem 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-inner h3 {
  color: var(--white-color);
  margin-bottom: 1.6rem;
}

.footer-inner p {
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-form input {
  margin-bottom: 1.4rem;
  padding: 0.4rem 0.6rem;
  width: 65%;
  border-radius: 8px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.contact-form input:focus {
  outline: 1px solid var(--light-color);
}

.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contact-form input[type='submit'] {
  background-color: var(--light-color);
  color: var(--white-color);
  border: none;
  width: 20%;
}

.footer-socials svg {
  color: var(--light-color);
  margin: 0 0.2rem;
  font-size: 20px;
  cursor: pointer;
}

/* CATERINGN ISSUES CSS */
.catering .container {
  padding: 4rem 0;
  flex-direction: column;
}

.catering-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.catering-top-content {
  padding: 2rem 0rem 2rem 3rem;
  background-color: rgba(30, 192, 255, 0.05);
  border-radius: 10px;
  width: 80%;
}

.catering-mr {
  margin-right: 1rem;
}

.catering-top-content h3 {
  margin: 0.6rem 0 0.6rem 0;
}

.catering-top-content p {
  width: 60%;
}

.catering-bottom {
  padding: 2rem 0;
  border: 5px solid var(--light-color);
  border-radius: 12px;
  margin-top: 1rem;
}

.c-shape-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2rem;
}

.c-shape-1 img {
  width: 80px;
}

.c-textual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.c-textual-head {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: flex-start;
}

.c-textual-head h2 {
  width: 100%;
  margin-bottom: 0.5rem;
}

.c-textual-head img {
  width: 50%;
}

.c-textual h3 {
  width: 30%;
  text-align: center;
  line-height: 30px;
}

.c-shape-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: 2rem;
}

.c-shape-2 img {
  width: 60px;
}
